
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.canvas{
	max-height: 100vh;
}

.card-img-top{
	  max-width:60%;
 	 max-height:60%;
  	width: auto;
  	height: auto;
  	margin-left:20%;
}

.donut-inner {
   margin-top: -600px;
   margin-bottom: 100px;
}

#deviceList {}
  #deviceList li {
    position: relative;
  }

  #deviceList i {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
    display: block;
    cursor: pointer;
    color: #c00;
    top: 10px;
    right: 40px;
    position: absolute;
    font-style: normal;
  }

  #deviceList li:hover i {
    opacity: 1;
  }

/* For mobile */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}


/* Sidebar on mobile */
@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

/* Heading was too large on mobile */
@media screen and (max-width: 768px) {
    h2{
        font-size:24px;
    }
    p.lead {
      font-size: 20px;
    }
}

