.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.canvas{
	max-height: 100vh;
}

.card-img-top{
	  max-width:60%;
 	 max-height:60%;
  	width: auto;
  	height: auto;
  	margin-left:20%;
}

.donut-inner {
   margin-top: -600px;
   margin-bottom: 100px;
}

#deviceList {}
  #deviceList li {
    position: relative;
  }

  #deviceList i {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
    display: block;
    cursor: pointer;
    color: #c00;
    top: 10px;
    right: 40px;
    position: absolute;
    font-style: normal;
  }

  #deviceList li:hover i {
    opacity: 1;
  }

