<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>National Grid App Thingy</title>

	<!-- bootstrap -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	
    <script type="text/javascript" src="{{url_for('.static', filename='script.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">

</head>

<body>

    <div class = "container" id = "container">

        <div id="titletext" class="pricing-header px-3 py-3 mx-auto text-center">
              <h2 class="display-4">Schedule a device</h2>
              <p class="lead">Quickly schedule optimal charging for a device from our templates or input your own custom data.</p>
        </div>

        <div class = "card-deck responsive restofscreen">
            <!-- Card 1 -->
            <div class = "card">
                <div class = "card-body">
                    <img class = "card-img-top img-fluid" src = "{{url_for('.static', filename='appleico.png')}}">
                    <h5 class = "card-title text-center"> Template 1</h5>
                    <button type = "button" class = "btn btn-lg btn-block btn-outline-primary" onclick = "formsubmit(options[0].power, options[0].minutes)"> Schedule</button>
                </div>
            </div>
            <!-- Card 2 -->
            <div class = "card">
                <div class = "card-body">
                    <img class = "card-img-top img-fluid" src = "{{url_for('.static', filename='androidico.png')}}">
                    <h5 class = "card-title text-center"> Template 2</h5>
                    <button type = "button" class = "btn btn-lg btn-block btn-outline-primary" onclick = "formsubmit(options[1].power, options[1].minutes)"> Schedule</button>
                </div>
            </div>
            <!-- Card 3 -->
            <div class = "card">
                <div class = "card-body ">
                    <img class = "card-img-top img-fluid" src = "{{url_for('.static', filename='custom.png')}}">
                    <h5 class = "card-title text-center"> Custom</h5>
                    <form id = "custdata">
                        <div class = "form-group">
                            <label for="inputPower"> Power </label>
                            <input type="text" class = "form-control" id="inputPower" placeholder="Enter power (kWh)">
                            <label for="inputMinutes"> Minutes required to charge </label>
                            <input type="text" class = "form-control" id="inputMinutes" placeholder="Enter minutes">
                        </div>
                    </form>
                    <button type = "button" 
                        class = "btn btn-lg btn-block btn-outline-primary"
                        onclick = "formsubmit (document.getElementById('inputPower').value, document.getElementById('inputMinutes').value)"> Schedule</button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
