<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="395319603732-s2ictf4jgnfj5c7ra1dm64oatnrmebqf.apps.googleusercontent.com">
	<title>National Grid Eco-scheduler</title>

	<!-- bootstrap -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

     <script type="text/javascript" src="{{url_for('.static', filename='script.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">


</head>

<body>

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Eco-Scheduler</a>

  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
  </button>


      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
	

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active" id="signIn">
            <a class = "nav-link" href = "auth/mobile/login"> Mobile Login </a>
        </li>
        <li class="nav-item active view-loggedin" style="display:none">
            <a class="nav-link" href="#" onclick="showElList()"> Manage devices</a>
        </li>
        <li class="nav-item active view-loggedin" style="display:none">
            <a class="nav-link" href="#" onclick="signOut()">Sign out</a>
        </li>
    </ul>
  </div>
</nav>


    <div class = "container" id = "container">

        <div id="titletext" class="px-3 pt-md-3 pb-md-2 mx-auto text-center">
              <p class="lead">Quickly schedule optimal charging for a device from our templates or input your own custom data.</p>
        </div>

        <div class = "card-deck responsive restofscreen">
            <!-- Card 1 -->
            <div class = "card">
               <h5 class = "card-header text-center"> Templates</h5>
                <div class = "card-body">
                    <!--<img class = "card-img-top img-fluid" src = "{{url_for('.static', filename='appleico.png')}}">-->
                      <div class="form-group">
                            <label for="templateDevices">Select the devices you want to schedule:</label>
                            <select class="form-control" id="templateDevices">
                            <option value='0'>iPhone</option>
                            <option value='1'>Android</option>
                            <option value='2'>Tesla</option>
                            <option value='3'>Washing machine</option>
                            </select>
                            <br>
                            <label for="templateDevices">Select the period for charging/using:</label> <br>
                            <input type = "radio" name = "periodTemplate" value = "best24h" checked> 24 hours<br>
                            <input type = "radio" name = "periodTemplate" value = "best48h"> 48 hours<br>
                       </div>
                  
                </div>
                <div class="card-footer">
                    
                    <button type = "button" class = "btn btn-lg btn-block btn-outline-primary" onclick = "formsubmit('template')"> Schedule</button>
                  </div>
            </div>
            <!-- Card 2 -->
            <div class = "card">
              <h5 class = "card-header text-center"> Your devices:</h5>
                <div class = "card-body">
                   <!-- <img class = "card-img-top img-fluid" src = "{{url_for('.static', filename='androidico.png')}}"> -->
                    <div class="form-group">
                            <label for="ownDevices">Select the devices you want to schedule:</label>
                            <button type = "button" class = "btn btn-secondary disabled-logout" onclick="loadOwnDevices()" disabled>
                        Load own devices</button><BR><BR>
                            <select  class="form-control disabled-logout" id="ownDevices" disabled>
                            </select>
                            <br>
                            <label for="templateDevices">Select the period for charging/using:</label> <br>
                            <input type = "radio" name = "periodOwn" value = "best24h" checked> 24 hours<br>
                            <input type = "radio" name = "periodOwn" value = "best48h"> 48 hours<br>
                       </div>
                </div>
                <div class="card-footer">
                    <button type = "button" class = "btn btn-lg btn-block btn-outline-primary disabled-logout" onclick = "formsubmit('owndevice')" disabled> Schedule</button>
                </div>
            </div>
            <!-- Card 3 -->
            <div class = "card">
              <h5 class = "card-header text-center"> Custom</h5>
                <div class = "card-body ">
                   <!-- <img class = "card-img-top img-fluid" src = "{{url_for('.static', filename='custom.png')}}"> -->
                    <form id = "custdata" action="userDevices/add" method="POST">
                        <div class = "form-group">
                            <label for="inputName"> Device Name </label>
                            <input type="text" class = "form-control" name='deviceName' id='inputName' placeholder="Enter device name">
                            <label for="inputPower"> Power </label>
                            <input type="text" class = "form-control" name = 'consumption' id="inputPower" placeholder="Enter power (kW)">
                            <label for="inputMinutes"> Minutes required to charge/use </label>
                            <input type="number" class = "form-control" id="inputMinutes" name = 'timeToCharge' placeholder="Enter minutes (1 - 450)" min = "1" max = "450">
                            <div class = "form-check">
                            <input type="checkbox" class="form-check-input disabled-logout" id="submitCheck" disabled = "disabled">
                            <label class="form-check-label" for="submitCheck">Register device</label>
                        </div>
                        <br>
                            <label for="templateDevices">Select the period for charging/using:</label> <br>
                            <input type = "radio" name = "periodNew" value = "best24h" checked> 24 hours<br>
                            <input type = "radio" name = "periodNew" value = "best48h"> 48 hours<br>
                    </form>
                    </div>
                    
            </div>
            <div class='card-footer'>
                        <button type = "button" 
                        class = "btn btn-lg btn-block btn-outline-primary"
                        onclick = "formsubmit ('newdevice', document.getElementById('inputPower').value, document.getElementById('inputMinutes').value, document.getElementById('submitCheck').checked)"> Schedule</button>
                        </div>
                </div>
        </div>

    </div>
  
<!-- Modal for results -->
<div class="modal bd-example-modal-lg" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Results</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" id="resultsModalBody">
        <div class="alert alert-success alert-dismissible mb-1 mt-1" id="registerSuccessAlert" role="alert" style="display:none">
      <strong>Device registered succesfully.</strong> You can now use this device as a template.
      <button type="button" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-success alert-dismissible mb-1 mt-1" id="registerSlotAlert" role="alert" style="display:none">
      <strong>Charging slot registered. </strong> You can now see reminders for this device.
      <button type="button" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible mb-1 mt-1" id="registerUsedAlert" role="alert" style="display:none">
      <strong>Device name already registered.</strong> Choose a new name for your device
      <button type="button" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible mb-1 mt-1" id="doubleClickAlert" role="alert" style="display:none">
      <strong>This device has already been added to your charging slots.</strong> You can reload this window to add a duplicate.
      <button type="button" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <div id="scedulerContainer">
        <canvas id='schedulerchart' width='450' height='450'></canvas>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary view-loggedin" id="addButton" onclick="addSlot()" style="display:none">Add to charging slots</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for managing devices -->
<div class="modal bd-example-modal-lg" id="manageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Manage devices</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" id="manageModalBody">
        <h5> Delete devices here.</h5>
        <ul class="list-group" id="deviceList">
            <!-- Elements will be populated here -->
        </ul>
      <form id = "deleteAllDevices" action="userDevices/deleteAll" method="GET">
      <button type="submit" class="btn btn-danger mt-1">Delete all</button>
      </form>
      <div class="alert alert-success alert-dismissible mb-1 mt-1" id="deleteAllAlert" role="alert" style="display:none">
      <strong>Device list cleared.</strong> All your devices have been removed from the database.
      <button type="button" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for managing mobile password -->
<div class="modal" id="managePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Manage mobile password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" id="manageModalBody">
        <h5>Set a username and password for use on mobile:</h5>
        <form  id = "edit" action="auth/mobile/login/edit" method="POST">
        <div class = "form-group">
          <label for="username"> Username </label>
          <input type="text" class = "form-control" name='username' placeholder="Enter username">
          <label for="password"> Password </label>
          <input type="password" class = "form-control" name = 'password' placeholder="Enter password">
            <button type="submit" class="btn btn-primary mt-1">Submit</button>
            <div class="alert alert-success alert-dismissible mt-2" id="editSuccessAlert" role="alert" style="display:none">
            <strong>Username and password set.</strong> You can now log in on the mobile app.
            <button type="button" class="close" data-hide="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          </div>

      </form>
      <form id = "revokePass" action="auth/mobile/login/remove" method="GET">
      <button type="submit" class="btn btn-danger">Revoke mobile password</button>
      </form>
      <div class="alert alert-success alert-dismissible mt-2" id="revokeSuccessAlert" role="alert" style="display:none">
      <strong>Password revoked.</strong> Session closed on the mobile app.
      <button type="button" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>

    </div>
  </div>
  </div>
</div>

<!-- Modal for managing charging slots -->
<div class="modal" id="chargeManageModal" tabindex="-1" role="dialog" aria-labelleby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Charging slots</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" id="chargeManageModalBody">
        <div class="row">
          <div class="col">
              <div id="slotContainer">
                <canvas id='slotchart' width='500' height='500'></canvas>
              </div>
          </div>
          <div class="col border-left">
            <!-- List of items -->
            <ul class="list-group" id="slotList">
            <!-- Elements will be populated here -->
            </ul>
            <form id = "deleteAllSlotDevices" action="chargingSlots/deleteAll/all" method="GET">
            <button type="submit" class="btn btn-danger mt-1">Delete all</button>
            </form>
            <div class="alert alert-success alert-dismissible mt-2" id="deleteAllSlotsAlert" role="alert" style="display:none">
            <strong>Charging slots cleared.</strong> All your devices have been removed from the database.
            <button type="button" class="close" data-hide="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <form id="hiddenForm" action="chargingSlots/add" method="PUSH">
                            <input type="hidden" class = "form-control" name='deviceName' id='inputSlotName'>
                            <input type="hidden" class = "form-control" name = 'consumption' id="inputSlotPower">
                            <input type="hidden" class = "form-control" id="inputSlotMinutes" name = 'timeToCharge'>
                            <input type="hidden" class="form-control" id='deviceSlotId' name='deviceId'> 
                            <input type="hidden" class="form-control" id='inputSlotPlugIn' name='plugInTime'>
      </form>
    </div>
  </div>
</div>

</body>
</html>
