<!DOCTYPE html>
<html>
	<head>
		<title> Mobile Login </title>
	</head>

	<body>
		{% if error %}
		<div align = "center" >
     	   <p><strong>Error:</strong> {{ error }}
        </div>
        {% endif %}
		<div style="text-align: center; padding: 2%;">
			<p>Sign in for mobile:</p>
			
			<form id = "login" action="/auth/mobile/login" method="POST">
				<div class = "form-group">
					<label for="username"> Username </label>
					<input type="text" class = "form-control" name='username' placeholder="Enter username">
					<br>
					<br>
					<label for="password"> Password </label>
					<input type="password" class = "form-control" name = 'password' placeholder="Enter password">
					<br>
					<br>
					<input type="submit">
				</div>
			</form>
		</div>
	</body>
</html>

